---
layout: base.ejs
title: My Eleventy Blog
---
<main>
    <h1>Blog</h1>
    <ul>
        <% projects.projects.forEach((content) => { %>
            <li class="flip-card">
                <a class="flip-card-inner" href="#<%= content.id %>">
                    <div class="flip-card-front">
                        <p><%= content.name %></p>
                        <img src="<%= content.img %>" alt="">
                    </div>
                    <div class="flip-card-back">
                        <p>...</p>
                    </div>
                </a>
            </li>      
        <% }); %>
    </ul>
    <section class="articles">
        <h2>Artikelen</h2>
        <ul>
            <% projects.projects.forEach((content) => { %>
                <li id="<%= content.id %>"> 
                   <div>
                    <%- content.html %>
                   </div>
         
                   <nav class="nav">
                       <%- content.nav %>
                    </nav>
                    <a href="#">⇧<span class="visually-hidden">Back</span></a>
                </li>      
            <% }); %>
        </ul>
    </section>

    <!-- need to be modals? or not -->
</main>