---
layout: base.ejs
title: My Eleventy Blog
---
<main>
    <h1>Blog</h1>
    <div>
        <ul>
            <% projects.projects.forEach((content, index) => { %>

                <li class="flip-card">
                    <a class="flip-card-inner" href="/project/<%= index === 0 ? '' : index + '/' %>/index.html">
                        <!-- <div class="flip-card-front"> -->
                            <p><%= content.name %></p>
                            <img src="<%= content.img %>" alt="">
                        <!-- </div> -->
                        <!-- <div class="flip-card-back"> -->
                            <!-- <p>...</p> -->
                        <!-- </div> -->
                    </a>
                </li>      
            <% }); %>
        </ul>
    </div>
    <section class="articles">
        <h2>Artikelen</h2>
        <ul>
            <% projects.projects.forEach((content) => { %>
                <li id="<%= content.id %>"> 
                   <div>
                    <%- content.html %>
                   </div>
         
                   <nav class="nav">
                        <ul>
                            <% content.nav.forEach((heading) => { %>
                                <li data-tag="<%= heading.tag %>">
                                    <a href="#<%= heading.target %>">
                                        <%= heading.text %>
                                    </a>
                                </li>
                            <% }); %>
                        </ul>
                    </nav>
                    <a href="#">⇧<span class="visually-hidden">Back</span></a>
                </li>      
            <% }); %>
        </ul>
    </section>

    <!-- need to be modals? or not -->
</main>