---
layout: base.ejs
title: My Eleventy Blog
---
<main>
    <h1>Blog</h1>
    <div>
        <ul>
            <% projects.projects.forEach((content, index) => { %>

                <li class="element-<%= content.id %>" class="flip-card">
                    <a class="flip-card-inner" href="/project/<%= index === 0 ? '' : index + '/' %>index.html">
                        <!-- <div class="flip-card-front"> -->
                            <p class="heading-<%= content.id %>"><span><%= content.name %></span></p>
                            <img src="<%= content.img %>" alt="">
                            <!-- TODO ALT -->
                        <!-- </div> -->
                        <!-- <div class="flip-card-back"> -->
                            <!-- <p>...</p> -->
                        <!-- </div> -->
                    </a>
                </li>      
            <% }); %>
        </ul>
    </div>

</main>