---
layout: detail.ejs
pagination:
  data: collections.projects
  size: 1
  alias: project
  permalink: "/projects/<%= project.name %>/index.html"
---

<main>
  <article class="element-<%= project.id %>" >
    <h1 class="heading-<%= project.id %>" project="<%= project.name %>"><%= project.name %></h1>
    <div class="content">
      <%- project.html %>
    </div>
    <nav class="nav">
      <ul>
          <% project.nav.forEach((heading) => { %>
              <li data-tag="<%= heading.tag %>">
                  <a href="#<%= heading.target %>">
                      <%= heading.text %>
                  </a>
              </li>
          <% }); %>
      </ul>
  </nav>
  <a href="/">⇧<span class="visually-hidden">Back</span></a>
  </article>
  <img src="../../<%= project.img %>">
</main>
